@model TaskManagementSystem.ViewModel.TaskViewModel

@{
    ViewBag.Title = "Edit Task";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light px-3">
    <div class="card shadow-lg p-4 w-100" style="max-width: 800px; border-radius: 12px; background-color: white;">
        <h2 class="text-center mb-4 text-primary">Edit Task</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    @Html.LabelFor(model => model.TaskId, "Task ID", new { @class = "form-label fw-bold" })
                    @Html.HiddenFor(model => model.UserId)
                    @Html.EditorFor(model => model.TaskId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.TaskId, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6">
                    @Html.LabelFor(model => model.Title, "Title", new { @class = "form-label fw-bold" })
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row g-3 mt-2">
                <div class="col-12">
                    @Html.LabelFor(model => model.Description, "Description", new { @class = "form-label fw-bold" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "resize: none; height: 200px;" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row g-3 mt-2">
                <div class="col-12 col-md-6">
                    @Html.LabelFor(model => model.DueDate, "Date", new { @class = "form-label fw-bold" })
                    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6">
                    @Html.LabelFor(model => model.Status, "Status", new { @class = "form-label fw-bold" })
                    @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as IEnumerable<SelectListItem>, "Select Status", new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4 gap-3">
                <button type="submit" class="btn btn-primary px-4">Save</button>
                @Html.ActionLink("Cancel", "TaskList","Admin", null, new { @class = "btn btn-secondary px-4" })
            </div>
        }
    </div>
</div>

<link rel="stylesheet" href="~/Content/custom-styles.css" />
